#nav {
    color: #ff6004;
    font-size: 16px;
}

#marca {
    margin-top: 50px;
}

#marcas {
    margin-top: 30px;
    text-align: center;
}

#rodape {
    margin-top: 40px;
    border-top: 1px solid rgba(0,0,0,.1);
    height: 210px;
}

#nav:hover {
    border-bottom: solid 1px #ff0066;
}

.active-page {
    border-bottom: solid 1px #ff0066;
    font-weight: bold;
}

.linha-vertical {
    height: 40px;/*Altura da linha*/
    border-left: 1px solid #888;/* Adiciona borda esquerda na div como ser fosse uma linha.*/
  }

#btn {
    color: #ff0066;
    border-color: #ff0066;
}

#btn:hover { 
    background-color: #ff0066;
    color: white;
}

#input {
    background-color: #ff0066;
    color: white;
    border-color: #ff0066;
}

#input::-moz-placeholder {
    color:white;
}

#input::-webkit-input-placeholder {
    color:white;
}

#linha {
    margin-bottom: 0px;
    margin-top: 0px;
}

#nav-produto {
    background-color: #ff0066;
}

.capa-produto {
    margin-bottom: 10px;
    margin-top: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.main {
    border-bottom: 1px solid rgba(0,0,0,.1);
    box-shadow: 0 1px 10px gray;
}

.img-normal {
    content: url(img/doce1.jpg);
}

.img-fixed {
    content: url(img/oie.png);
}

#opa {
    background-color: rgba(255,255,255,.85) !important;
}

#meio {
    padding-top: 50px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff3586+0,ffadcc+51,ff3586+100 */
background: #ff3586; /* Old browsers */
background: -moz-linear-gradient(left, #ff3586 0%, #ffadcc 51%, #ff3586 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #ff3586 0%,#ffadcc 51%,#ff3586 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #ff3586 0%,#ffadcc 51%,#ff3586 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3586', endColorstr='#ff3586',GradientType=1 ); /* IE6-9 */
}

#ok {
    margin-top: 10px;
    margin-bottom: 50px;
}

#vertical {
    border: 1px solid #bfbfbf;
    border-radius: 10px;
    padding-bottom: 15px;
}

.list-group-item.active {
    background-color: rebeccapurple !important;
    border-color: rebeccapurple !important;
    font-weight: bold;
}

.list-group-item.ativo, .list-group-item.ativo:hover {
    background-color: #660066 !important;
    border-color: #660066 !important;
    font-weight: bold;
    color: #fff;
}

.list-group-item {
    color: #666;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,.7) !important;
}

.navbar-dark .navbar-nav .nav-link:hover{
    color: rgba(255,255,255,.85) !important;
}

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .show>.nav-link{
    color: #fff !important;
}

.btn-group {
    width: 100%;
}

#menu {
    margin-bottom: 25px;
}

.list-group-item:hover {
    color:  rebeccapurple;    
}

#row {
    margin-top: 25px;
}

.list-group-item.small {
    padding-left: 40px;
}

.card-img-top {
    border-bottom: 2px solid #ff0066;
}

.card-title {
    text-align: center;
}

#produto {
    margin-top: 25px;
    border: 1px solid #ccc;
    max-width: 100%;
    min-height: 333px;
}

 div.card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-marca {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;    
}

#titulo {
    color: black;
}

#titulo:hover {
    text-decoration: none;
}

#content {
    margin-top: 50px;
}
 .d-inline-flex.p-2 {
     color: #ff0066;
     font-weight: bold;
     border-bottom: 1px solid #ff6004;
    margin-bottom: 20px;
 }

 @media (max-width:810px){
    div.col-md-4.align-self-center {
        margin-top: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid #bfbfbf;
    }
  }